<div class="container-fluid">
    <div class="row">
        <div class="col-4 ">
            <ul class="nav nav-tabs  p-0" id="myTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="resep_order-tab" data-bs-toggle="tab"
                        data-bs-target="#resep_order" type="button" role="tab" aria-controls="resep_order"
                        aria-selected="true">Resep Tunggal</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="resep_racikan-tab" data-bs-toggle="tab" data-bs-target="#resep_racikan"
                        type="button" role="tab" aria-controls="resep_racikan" aria-selected="false">Resep
                        Racikan</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="resep_paket-tab" data-bs-toggle="tab" data-bs-target="#resep_paket"
                        type="button" role="tab" aria-controls="resep_paket" aria-selected="false">Paket</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="resep_order" role="tabpanel"
                    aria-labelledby="resep_order-tab">
                    <div class="container p-3">
                        <div class="mb-3 row">
                            <label for="text001" class="col-sm-3 col-form-label">Tempat Layanan</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="text001" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="9" data-select2-id="32">IGD</option>
                                    <option value="42" data-select2-id="33">Instalasi Hemodialisis</option>
                                    <option value="19" data-select2-id="34">Instalasi Rehabilitasi Medik</option>
                                    <option value="34" data-select2-id="35">Kunjungan Swasta</option>
                                    <option value="6" data-select2-id="36">Anak</option>
                                    <option value="55" data-select2-id="37">Aster</option>
                                    <option value="5" data-select2-id="38">Bedah</option>
                                    <option value="47" data-select2-id="39">Gigi Bedah Mulut</option>
                                    <option value="48" data-select2-id="40">Gigi Endodonsi</option>
                                    <option value="14" data-select2-id="41">Gigi Mulut</option>
                                    <option value="45" data-select2-id="42">Gigi Penyakit Mulut</option>
                                    <option value="46" data-select2-id="43">Gigi Prosthodonti</option>
                                    <option value="43" data-select2-id="44">Jantung</option>
                                    <option value="15" data-select2-id="45">Lansia</option>
                                    <option value="20" data-select2-id="46">Mata</option>
                                    <option value="12" data-select2-id="47">Obsgyn</option>
                                    <option value="30" data-select2-id="48">Orthopaedi</option>
                                    <option value="29" data-select2-id="49">Paru</option>
                                    <option value="22" data-select2-id="50">Pegawai</option>
                                    <option value="4" data-select2-id="51">Penyakit Dalam</option>
                                    <option value="32" data-select2-id="52">Psikiatri</option>
                                    <option value="13" data-select2-id="53">Saraf</option>
                                    <option value="35" data-select2-id="54">TB Dots</option>
                                    <option value="16" data-select2-id="55">THT</option>
                                    <option value="26" data-select2-id="56">VCT</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text002" class="col-sm-3 col-form-label">Dokter</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="text002" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="Ade Puji Astuti, dr" kode_bpjs="0" data-select2-id="59">Ade Puji
                                        Astuti, dr</option>
                                    <option value="Adi Nugroho, dr, Sp.S" kode_bpjs="22976" data-select2-id="60">Adi
                                        Nugroho, dr, Sp.S</option>
                                    <option value="Agung Suhirman, dr, Sp.OG" kode_bpjs="12301" data-select2-id="61">
                                        Agung Suhirman, dr, Sp.OG</option>
                                    <option value="Agus Dwi Antoro, drg" kode_bpjs="22801" data-select2-id="62">Agus Dwi
                                        Antoro, drg</option>
                                    <option value="Agustinus / Rohaniawan" kode_bpjs="0" data-select2-id="63">Agustinus
                                        / Rohaniawan</option>
                                    <option value="Ana Basirotul Alawiyah,dr.Sp.Rad" kode_bpjs="22914"
                                        data-select2-id="64">Ana Basirotul Alawiyah,dr.Sp.Rad</option>
                                    <option value="Azhar Nur Fathoni, dr. Sp.THT KL" kode_bpjs="22961"
                                        data-select2-id="65">Azhar Nur Fathoni, dr. Sp.THT KL</option>
                                    <option value="Bambang Eko, dr, Sp.OG" kode_bpjs="12317" data-select2-id="66">
                                        Bambang Eko, dr, Sp.OG</option>
                                    <option value="Cahyo Nurallam, dr.Sp.B" kode_bpjs="22827" data-select2-id="67">Cahyo
                                        Nurallam, dr.Sp.B</option>
                                    <option value="Dedi Prasetyo, dr" kode_bpjs="212565" data-select2-id="68">Dedi
                                        Prasetyo, dr</option>
                                    <option value="Dian Hananto, dr. Sp.PD" kode_bpjs="14935" data-select2-id="69">Dian
                                        Hananto, dr. Sp.PD</option>
                                    <option value="Didik Agus Santoro,dr.MM.Sp.PK" kode_bpjs="22912"
                                        data-select2-id="70">Didik Agus Santoro,dr.MM.Sp.PK</option>
                                    <option value="Dimas triaryo, dr. Sp.OT" kode_bpjs="294269" data-select2-id="71">
                                        Dimas triaryo, dr. Sp.OT</option>
                                    <option value="Djamminudin, dr" kode_bpjs="22775" data-select2-id="72">Djamminudin,
                                        dr</option>
                                    <option value="Dyah Ari Nuraida, dr, Sp.PA" kode_bpjs="22911" data-select2-id="73">
                                        Dyah Ari Nuraida, dr, Sp.PA</option>
                                    <option value="Endang Soekartiningsih, dr, MSc, Sp.KJ" kode_bpjs="22958"
                                        data-select2-id="74">Endang Soekartiningsih, dr, MSc, Sp.KJ</option>
                                    <option value="Errisa Maisuritadevi Mara,dr,MSc,Sp.PK" kode_bpjs="22915"
                                        data-select2-id="75">Errisa Maisuritadevi Mara,dr,MSc,Sp.PK</option>
                                    <option value="Fajar Dian Rachmawati, dr" kode_bpjs="0" data-select2-id="76">Fajar
                                        Dian Rachmawati, dr</option>
                                    <option value="Helen Kusuma Ningsih, dr, Sp.M" kode_bpjs="22953"
                                        data-select2-id="77">Helen Kusuma Ningsih, dr, Sp.M</option>
                                    <option value="Ike Dyah Ayu, dr, Sp.Jp" kode_bpjs="211560" data-select2-id="78">Ike
                                        Dyah Ayu, dr, Sp.Jp</option>
                                    <option value="Indrahany Alwiandono, dr, Sp.OG" kode_bpjs="273806"
                                        data-select2-id="79">Indrahany Alwiandono, dr, Sp.OG</option>
                                    <option value="Isna Rofiudin, dr, Sp.An" kode_bpjs="22910" data-select2-id="80">Isna
                                        Rofiudin, dr, Sp.An</option>
                                    <option value="Joko Priyanto,dr.MSc.Sp.PD" kode_bpjs="22826" data-select2-id="81">
                                        Joko Priyanto,dr.MSc.Sp.PD</option>
                                    <option value="Kuncoro.dr." kode_bpjs="139147" data-select2-id="82">Kuncoro.dr.
                                    </option>
                                    <option value="Kurnia Ekawati,dr.Sp.Rad" kode_bpjs="22909" data-select2-id="83">
                                        Kurnia Ekawati,dr.Sp.Rad</option>
                                    <option value="M. Da'an, dr" kode_bpjs="274486" data-select2-id="84">M. Da'an, dr
                                    </option>
                                    <option value="M.Wildan Khusnindar, dr" kode_bpjs="212566" data-select2-id="85">
                                        M.Wildan Khusnindar, dr</option>
                                    <option value="Maria Ulifia dr, Sp.An" kode_bpjs="0" data-select2-id="86">Maria
                                        Ulifia dr, Sp.An</option>
                                    <option value="Masrifah, dr" kode_bpjs="212560" data-select2-id="87">Masrifah, dr
                                    </option>
                                    <option value="Nety Nurnaningtyas, dr, Sp.EM" kode_bpjs="212559"
                                        data-select2-id="88">Nety Nurnaningtyas, dr, Sp.EM</option>
                                    <option value="Nian Nikmah, dr" kode_bpjs="0" data-select2-id="89">Nian Nikmah, dr
                                    </option>
                                    <option value="Nur Azizah, drg, Sp.KG" kode_bpjs="268054" data-select2-id="90">Nur
                                        Azizah, drg, Sp.KG</option>
                                    <option value="Pdt. Maria Theofani W." kode_bpjs="0" data-select2-id="91">Pdt. Maria
                                        Theofani W.</option>
                                    <option value="Permadi Hadi Widjaja, dr, Sp.A" kode_bpjs="14937"
                                        data-select2-id="92">Permadi Hadi Widjaja, dr, Sp.A</option>
                                    <option value="Prilly Raleka Pahlevawati, dr" kode_bpjs="0" data-select2-id="93">
                                        Prilly Raleka Pahlevawati, dr</option>
                                    <option value="Puguh Santoso W, dr" kode_bpjs="212562" data-select2-id="94">Puguh
                                        Santoso W, dr</option>
                                    <option value="Puji Dian Cahyani, dr" kode_bpjs="96787" data-select2-id="95">Puji
                                        Dian Cahyani, dr</option>
                                    <option value="Rakhman Wahyudi Mulyo, dr. Sp.B" kode_bpjs="415918"
                                        data-select2-id="96">Rakhman Wahyudi Mulyo, dr. Sp.B</option>
                                    <option value="Retno Widyoningrum, dr" kode_bpjs="212563" data-select2-id="97">Retno
                                        Widyoningrum, dr</option>
                                    <option value="Royani,dr.Sp.P" kode_bpjs="22964" data-select2-id="98">Royani,dr.Sp.P
                                    </option>
                                    <option value="Satrya Ayu Erawatie, drg, P,MDSc., Sp.PM" kode_bpjs="275655"
                                        data-select2-id="99">Satrya Ayu Erawatie, drg, P,MDSc., Sp.PM</option>
                                    <option value="Sherry Artha, dr" kode_bpjs="43782" data-select2-id="100">Sherry
                                        Artha, dr</option>
                                    <option value="Sri Wahjoeni, dr" kode_bpjs="212561" data-select2-id="101">Sri
                                        Wahjoeni, dr</option>
                                    <option value="Sri Yuswanti, dr, Sp.M" kode_bpjs="22945" data-select2-id="102">Sri
                                        Yuswanti, dr, Sp.M</option>
                                    <option value="Suharto, dr" kode_bpjs="22797" data-select2-id="103">Suharto, dr
                                    </option>
                                    <option value="Sulaiman Hamid,dr.Sp.A" kode_bpjs="22823" data-select2-id="104">
                                        Sulaiman Hamid,dr.Sp.A</option>
                                    <option value="Titis Dwi Tanti, dr. Sp.PD" kode_bpjs="402944" data-select2-id="105">
                                        Titis Dwi Tanti, dr. Sp.PD</option>
                                    <option value="Wisnu Murti, drg, Sp.BM" kode_bpjs="22967" data-select2-id="106">
                                        Wisnu Murti, drg, Sp.BM</option>
                                    <option value="Yekti wedawati" kode_bpjs="0" data-select2-id="107">Yekti wedawati
                                    </option>
                                    <option value="Yuli Ahmami" kode_bpjs="0" data-select2-id="108">Yuli Ahmami</option>
                                    <option value="Yulia Fatma Wardani, dr., M.Sc.,Sp.A" kode_bpjs="399493"
                                        data-select2-id="109">Yulia Fatma Wardani, dr., M.Sc.,Sp.A</option>
                                    <option value="Yunita Fatmawati, dr.Sp.KFR" kode_bpjs="31552" data-select2-id="110">
                                        Yunita Fatmawati, dr.Sp.KFR</option>
                                    <option value="Yusrina Sumartati, drg, Sp.Pros" kode_bpjs="22800"
                                        data-select2-id="111">Yusrina Sumartati, drg, Sp.Pros</option>
                                    <option value="Zainal, dr. Sp.An" kode_bpjs="14979" data-select2-id="112">Zainal,
                                        dr. Sp.An</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text003" class="col-sm-3 col-form-label">Obat</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text003">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text004" class="col-sm-3 col-form-label">Jumlah</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="text004">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text005" class="col-sm-3 col-form-label">Aturan Pakai</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text006" class="col-sm-3 col-form-label">Keterangan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="text006" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-secondary me-md-2" type="button">RESET</button>
                                <button class="btn btn-success" type="button">TAMBAH</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="resep_racikan" role="tabpanel" aria-labelledby="resep_racikan-tab">
                    <div class="container p-3">
                        <div class="mb-3 row">
                            <label for="text001" class="col-sm-4 col-form-label">Tempat Layanan</label>
                            <div class="col-sm-8">
                                <select class="form-select" id="text001" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="9" data-select2-id="32">IGD</option>
                                    <option value="42" data-select2-id="33">Instalasi Hemodialisis</option>
                                    <option value="19" data-select2-id="34">Instalasi Rehabilitasi Medik</option>
                                    <option value="34" data-select2-id="35">Kunjungan Swasta</option>
                                    <option value="6" data-select2-id="36">Anak</option>
                                    <option value="55" data-select2-id="37">Aster</option>
                                    <option value="5" data-select2-id="38">Bedah</option>
                                    <option value="47" data-select2-id="39">Gigi Bedah Mulut</option>
                                    <option value="48" data-select2-id="40">Gigi Endodonsi</option>
                                    <option value="14" data-select2-id="41">Gigi Mulut</option>
                                    <option value="45" data-select2-id="42">Gigi Penyakit Mulut</option>
                                    <option value="46" data-select2-id="43">Gigi Prosthodonti</option>
                                    <option value="43" data-select2-id="44">Jantung</option>
                                    <option value="15" data-select2-id="45">Lansia</option>
                                    <option value="20" data-select2-id="46">Mata</option>
                                    <option value="12" data-select2-id="47">Obsgyn</option>
                                    <option value="30" data-select2-id="48">Orthopaedi</option>
                                    <option value="29" data-select2-id="49">Paru</option>
                                    <option value="22" data-select2-id="50">Pegawai</option>
                                    <option value="4" data-select2-id="51">Penyakit Dalam</option>
                                    <option value="32" data-select2-id="52">Psikiatri</option>
                                    <option value="13" data-select2-id="53">Saraf</option>
                                    <option value="35" data-select2-id="54">TB Dots</option>
                                    <option value="16" data-select2-id="55">THT</option>
                                    <option value="26" data-select2-id="56">VCT</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text002" class="col-sm-4 col-form-label">Dokter</label>
                            <div class="col-sm-8">
                                <select class="form-select" id="text002" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="Ade Puji Astuti, dr" kode_bpjs="0" data-select2-id="59">Ade Puji
                                        Astuti, dr</option>
                                    <option value="Adi Nugroho, dr, Sp.S" kode_bpjs="22976" data-select2-id="60">Adi
                                        Nugroho, dr, Sp.S</option>
                                    <option value="Agung Suhirman, dr, Sp.OG" kode_bpjs="12301" data-select2-id="61">
                                        Agung Suhirman, dr, Sp.OG</option>
                                    <option value="Agus Dwi Antoro, drg" kode_bpjs="22801" data-select2-id="62">Agus Dwi
                                        Antoro, drg</option>
                                    <option value="Agustinus / Rohaniawan" kode_bpjs="0" data-select2-id="63">Agustinus
                                        / Rohaniawan</option>
                                    <option value="Ana Basirotul Alawiyah,dr.Sp.Rad" kode_bpjs="22914"
                                        data-select2-id="64">Ana Basirotul Alawiyah,dr.Sp.Rad</option>
                                    <option value="Azhar Nur Fathoni, dr. Sp.THT KL" kode_bpjs="22961"
                                        data-select2-id="65">Azhar Nur Fathoni, dr. Sp.THT KL</option>
                                    <option value="Bambang Eko, dr, Sp.OG" kode_bpjs="12317" data-select2-id="66">
                                        Bambang Eko, dr, Sp.OG</option>
                                    <option value="Cahyo Nurallam, dr.Sp.B" kode_bpjs="22827" data-select2-id="67">Cahyo
                                        Nurallam, dr.Sp.B</option>
                                    <option value="Dedi Prasetyo, dr" kode_bpjs="212565" data-select2-id="68">Dedi
                                        Prasetyo, dr</option>
                                    <option value="Dian Hananto, dr. Sp.PD" kode_bpjs="14935" data-select2-id="69">Dian
                                        Hananto, dr. Sp.PD</option>
                                    <option value="Didik Agus Santoro,dr.MM.Sp.PK" kode_bpjs="22912"
                                        data-select2-id="70">Didik Agus Santoro,dr.MM.Sp.PK</option>
                                    <option value="Dimas triaryo, dr. Sp.OT" kode_bpjs="294269" data-select2-id="71">
                                        Dimas triaryo, dr. Sp.OT</option>
                                    <option value="Djamminudin, dr" kode_bpjs="22775" data-select2-id="72">Djamminudin,
                                        dr</option>
                                    <option value="Dyah Ari Nuraida, dr, Sp.PA" kode_bpjs="22911" data-select2-id="73">
                                        Dyah Ari Nuraida, dr, Sp.PA</option>
                                    <option value="Endang Soekartiningsih, dr, MSc, Sp.KJ" kode_bpjs="22958"
                                        data-select2-id="74">Endang Soekartiningsih, dr, MSc, Sp.KJ</option>
                                    <option value="Errisa Maisuritadevi Mara,dr,MSc,Sp.PK" kode_bpjs="22915"
                                        data-select2-id="75">Errisa Maisuritadevi Mara,dr,MSc,Sp.PK</option>
                                    <option value="Fajar Dian Rachmawati, dr" kode_bpjs="0" data-select2-id="76">Fajar
                                        Dian Rachmawati, dr</option>
                                    <option value="Helen Kusuma Ningsih, dr, Sp.M" kode_bpjs="22953"
                                        data-select2-id="77">Helen Kusuma Ningsih, dr, Sp.M</option>
                                    <option value="Ike Dyah Ayu, dr, Sp.Jp" kode_bpjs="211560" data-select2-id="78">Ike
                                        Dyah Ayu, dr, Sp.Jp</option>
                                    <option value="Indrahany Alwiandono, dr, Sp.OG" kode_bpjs="273806"
                                        data-select2-id="79">Indrahany Alwiandono, dr, Sp.OG</option>
                                    <option value="Isna Rofiudin, dr, Sp.An" kode_bpjs="22910" data-select2-id="80">Isna
                                        Rofiudin, dr, Sp.An</option>
                                    <option value="Joko Priyanto,dr.MSc.Sp.PD" kode_bpjs="22826" data-select2-id="81">
                                        Joko Priyanto,dr.MSc.Sp.PD</option>
                                    <option value="Kuncoro.dr." kode_bpjs="139147" data-select2-id="82">Kuncoro.dr.
                                    </option>
                                    <option value="Kurnia Ekawati,dr.Sp.Rad" kode_bpjs="22909" data-select2-id="83">
                                        Kurnia Ekawati,dr.Sp.Rad</option>
                                    <option value="M. Da'an, dr" kode_bpjs="274486" data-select2-id="84">M. Da'an, dr
                                    </option>
                                    <option value="M.Wildan Khusnindar, dr" kode_bpjs="212566" data-select2-id="85">
                                        M.Wildan Khusnindar, dr</option>
                                    <option value="Maria Ulifia dr, Sp.An" kode_bpjs="0" data-select2-id="86">Maria
                                        Ulifia dr, Sp.An</option>
                                    <option value="Masrifah, dr" kode_bpjs="212560" data-select2-id="87">Masrifah, dr
                                    </option>
                                    <option value="Nety Nurnaningtyas, dr, Sp.EM" kode_bpjs="212559"
                                        data-select2-id="88">Nety Nurnaningtyas, dr, Sp.EM</option>
                                    <option value="Nian Nikmah, dr" kode_bpjs="0" data-select2-id="89">Nian Nikmah, dr
                                    </option>
                                    <option value="Nur Azizah, drg, Sp.KG" kode_bpjs="268054" data-select2-id="90">Nur
                                        Azizah, drg, Sp.KG</option>
                                    <option value="Pdt. Maria Theofani W." kode_bpjs="0" data-select2-id="91">Pdt. Maria
                                        Theofani W.</option>
                                    <option value="Permadi Hadi Widjaja, dr, Sp.A" kode_bpjs="14937"
                                        data-select2-id="92">Permadi Hadi Widjaja, dr, Sp.A</option>
                                    <option value="Prilly Raleka Pahlevawati, dr" kode_bpjs="0" data-select2-id="93">
                                        Prilly Raleka Pahlevawati, dr</option>
                                    <option value="Puguh Santoso W, dr" kode_bpjs="212562" data-select2-id="94">Puguh
                                        Santoso W, dr</option>
                                    <option value="Puji Dian Cahyani, dr" kode_bpjs="96787" data-select2-id="95">Puji
                                        Dian Cahyani, dr</option>
                                    <option value="Rakhman Wahyudi Mulyo, dr. Sp.B" kode_bpjs="415918"
                                        data-select2-id="96">Rakhman Wahyudi Mulyo, dr. Sp.B</option>
                                    <option value="Retno Widyoningrum, dr" kode_bpjs="212563" data-select2-id="97">Retno
                                        Widyoningrum, dr</option>
                                    <option value="Royani,dr.Sp.P" kode_bpjs="22964" data-select2-id="98">Royani,dr.Sp.P
                                    </option>
                                    <option value="Satrya Ayu Erawatie, drg, P,MDSc., Sp.PM" kode_bpjs="275655"
                                        data-select2-id="99">Satrya Ayu Erawatie, drg, P,MDSc., Sp.PM</option>
                                    <option value="Sherry Artha, dr" kode_bpjs="43782" data-select2-id="100">Sherry
                                        Artha, dr</option>
                                    <option value="Sri Wahjoeni, dr" kode_bpjs="212561" data-select2-id="101">Sri
                                        Wahjoeni, dr</option>
                                    <option value="Sri Yuswanti, dr, Sp.M" kode_bpjs="22945" data-select2-id="102">Sri
                                        Yuswanti, dr, Sp.M</option>
                                    <option value="Suharto, dr" kode_bpjs="22797" data-select2-id="103">Suharto, dr
                                    </option>
                                    <option value="Sulaiman Hamid,dr.Sp.A" kode_bpjs="22823" data-select2-id="104">
                                        Sulaiman Hamid,dr.Sp.A</option>
                                    <option value="Titis Dwi Tanti, dr. Sp.PD" kode_bpjs="402944" data-select2-id="105">
                                        Titis Dwi Tanti, dr. Sp.PD</option>
                                    <option value="Wisnu Murti, drg, Sp.BM" kode_bpjs="22967" data-select2-id="106">
                                        Wisnu Murti, drg, Sp.BM</option>
                                    <option value="Yekti wedawati" kode_bpjs="0" data-select2-id="107">Yekti wedawati
                                    </option>
                                    <option value="Yuli Ahmami" kode_bpjs="0" data-select2-id="108">Yuli Ahmami</option>
                                    <option value="Yulia Fatma Wardani, dr., M.Sc.,Sp.A" kode_bpjs="399493"
                                        data-select2-id="109">Yulia Fatma Wardani, dr., M.Sc.,Sp.A</option>
                                    <option value="Yunita Fatmawati, dr.Sp.KFR" kode_bpjs="31552" data-select2-id="110">
                                        Yunita Fatmawati, dr.Sp.KFR</option>
                                    <option value="Yusrina Sumartati, drg, Sp.Pros" kode_bpjs="22800"
                                        data-select2-id="111">Yusrina Sumartati, drg, Sp.Pros</option>
                                    <option value="Zainal, dr. Sp.An" kode_bpjs="14979" data-select2-id="112">Zainal,
                                        dr. Sp.An</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text003" class="col-sm-4 col-form-label">Obat</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="text003">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text004" class="col-sm-4 col-form-label">Jumlah</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="text004">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text005" class="col-sm-4 col-form-label">Aturan Pakai</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="text005">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text007" class="col-sm-4 col-form-label">Petunjuk Peracikan</label>
                            <div class="col-sm-8">
                                <select class="form-select" aria-label="Default select example" id="text007">
                                    <option selected></option>
                                    <option value="1">Puyer</option>
                                    <option value="2">Tablet</option>
                                    <option value="3">Tube</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text008" class="col-sm-4 col-form-label">Jumlah Peracikan</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="text008">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="text006" class="col-sm-4 col-form-label">Keterangan</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="text006" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-secondary me-md-2" type="button">RESET</button>
                                <button class="btn btn-success" type="button">TAMBAH</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="resep_paket" role="tabpanel" aria-labelledby="resep_paket-tab">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            LIST TEMPLATE PAKET RESEP
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Paket SC</a>
                        <a href="#" class="list-group-item list-group-item-action">Hemodialisa</a>
                        <a href="#" class="list-group-item list-group-item-action">Luka Dalam</a>
                        <a href="#" class="list-group-item list-group-item-action">Bedah</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row" style="min-height:350px">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">JENIS</th>
                            <th scope="col">OBAT</th>
                            <th scope="col">JML</th>
                            <th scope="col">ATURAN_PAKAI</th>
                            <th scope="col">KETERANGAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Tunggal</td>
                            <td>Acyclovir 200 mg</td>
                            <td>4</td>
                            <td>3x1</td>
                            <td>Sesudah Makan</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Tunggal</td>
                            <td>Alkohol Swabs 2 Play</td>
                            <td>4</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Tunggal</td>
                            <td>Antasida Doen Susp. 60 ml</td>
                            <td>1</td>
                            <td>3x1</td>
                            <td>Sebelum Makan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-secondary me-md-2 btn-lg" type="button">RESET</button>
                    <button class="btn btn-warning btn-lg" type="button">KIRIM ORDER</button>
                  </div>
            </div>
        </div>
    </div>
</div>