<table width="100%" border="0" cellspacing="3" class="background_form">
    <tbody>
        <tr>
            <td colspan="4" align="left" class="header-title">
                <div style="float: left;"><b>Data Pasien</b></div>

                <div class="dropdown dropleft" style="float: right;">
                    <i class="fas fa-bars dropdown-toggle" style="cursor: pointer;margin-right: 10px;"
                        id="panggil_antrian_pendaftaran" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" title="Menu Antrian Pendaftaran."></i>
                    <div class="dropdown-menu sf-menu sf-js-enabled sf-arrows" style="width: 200px"
                        aria-labelledby="dropdownMenuLink">
                        <a id="go_skdp" class="dropdown-item"
                            href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918#"
                            style="line-height: 25px;">Surat Keterangan Berobat</a>
                        <a id="select_spri" class="dropdown-item"
                            href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918#"
                            style="line-height: 25px;">Surat Perintah Rawat Inap</a>
                        <a id="kunjungkan_penunjang" class="dropdown-item"
                            href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918#"
                            style="line-height: 25px;">Kunjungkan Penunjang</a>
                        <a id="create_rujuk" class="dropdown-item"
                            href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918#"
                            style="line-height: 25px;">Rujukan Keluar</a>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td width="16%" align="left">No. RM</td>
            <td width="34%" valign="middle"> : <input name="no_rm" id="no_rm" class="no_rm input_no_rm" type="text"
                    maxlength="6" required="" value="000000">&nbsp;<font color="#FF9900">Lalu tekan Enter.
                </font>
            </td>
            <td width="16%" align="left">Alamat</td>
            <td width="34%" align="left"> : <input id="alamat" type="text" readonly="true" value="Pacitan Semua Indah"></td>
        </tr>
        <tr>
            <td align="left">Nama Pasien</td>
            <td align="left"> : <input id="nama" type="text" readonly="true" value="Semut Cilik"> </td>
            <td align="left">Kecamatan</td>
            <td align="left"> : <input id="kecamatan" type="text" readonly="true" value="Pacitan"></td>
        </tr>
        <tr>
            <td align="left">Umur</td>
            <td align="left"> : <input id="umur" type="text" readonly="true" value="Laki-laki Umur :13th, 1bln, 17hr"></td>
            <td align="left"><b>PENJAMIN</b></td>
            <td align="left"> : <input id="penjamin" type="text" readonly="true" style="font-weight: bold" value="BPJS Non PBI">
            </td>
        </tr>
    </tbody>
</table>