<div id="header">
    Selamat datang <b>
        <div class="nama_user" style="display: contents;">Fahrudin Hariadi</div>
    </b>, @ <a href="http://simrs.rsudpacitan.go.id/index.php">RSUD KAB PACITAN</a>.
</div>
<div id="menu">
    <ul id="nav" class="sf-menu sf-js-enabled sf-arrows">
        <li><a href="http://simrs.rsudpacitan.go.id/index.php"><label style="color: red;"><b>BERANDA</b></label></a>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">MASTER</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/?page=master/pasien.php">Data Pasien</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Tarif</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Tindakan Administrasi</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan_kelompok/index/Administrasi">Kelompok</a>
                                </li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan/index/Administrasi">Tindakan</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Tindakan Radiologi</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan/index/Radiologi">Tindakan</a>
                                </li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan_kelompok/index/Radiologi">Kelompok</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Patologi Anatomi</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan_kelompok/index/PA">Kelompok</a>
                                </li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan/index/PA">Tindakan</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Tindakan Kamar Operasi</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan_kelompok/index/Tindakan_OK">Kelompok</a>
                                </li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan/index/Tindakan_OK">Tindakan</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tempat_layanan_tarif">Tarif
                                Tempat Tidur</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Tindakan Laboratorium</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan/index/Laboratorium">Tindakan</a>
                                </li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan_kelompok/index/Laboratorium">Kelompok</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Tindakan</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan/index/Tindakan">Tindakan</a>
                                </li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tindakan_kelompok/index/Tindakan">Kelompok</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Pelaksana Layanan</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/pelaksana_layanan">Kelompok
                                Pelaksana</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/pelaksana_individu">Pelaksana
                                Layanan</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Tempat Layanan</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tempat_layanan_tarif">Tarif
                                Tempat Layanan</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/tempat_layanan">Tempat
                                Layanan</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Users Privilage &amp; Menu</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/users/privilege">Users Privilage</a>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/users/menus">Menu</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/users/form_entry">Users</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Penjamin</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_master/penjamin">Data
                                Penjamin</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">SETTING</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_setting/tindakan">Setting
                        Tindakan</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_setting/pelaksana">Setting
                        Pelaksana</a></li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">TRANSAKSI</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">ADMISI</a>
                    <ul style="display: none;">
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_poli_v4">Pendaftaran</a>
                        </li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_konsul">Konsultasi</a>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_ri">Rawat
                                Inap</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">DOKTER</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/pemeriksaan_radiologi">Pemeriksaan
                                Radiologi</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/pemeriksaan_pa">Pemeriksaan
                                Patologi Anatomi</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/log_book_dokter">Log
                                Book</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Rapid Kolektif</a>
                            <ul style="display: none;">
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/rapid_kolektif/upload_master_pasien_rapid">Upload
                                        Pasien Rapid Kolektif</a></li>
                                <li><a href="http://simrs.rsudpacitan.go.id/sdsdsdsdsd">Data Pasien Rapid
                                        Kolektif</a></li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/rapid_kolektif/view_hasil">Hasil
                                        Rapid Kolektif</a></li>
                                <li><a
                                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/rapid_kolektif/rekap_lapangan">Report
                                        Permintaan Lapangan</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a
                        href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_penunjang">PENUNJANG</a>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">MEDIS</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan">Tindakan
                                Pasien</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_pindah">Pindah
                                Ruang Rawat</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_koreksi">Koreksi
                                Kamar / Rawat Inap</a></li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/surat_keterangan_berobat">Surat
                                Keterangan Berobat</a></li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/surat_perintah_rawat_inap">Surat
                                Perintah Rawat Inap</a></li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/surat_perintah_tindakan_hd">Surat
                                Perintah Tindakan HD</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/antrian_kamar_operasi">Antrian
                                Kamar Operasi</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/asesmen_sc">Asesmen
                                SC</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">ADMINISTRASI</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan_verifikasi">Verifikasi
                                Tindakan</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan_biaya_lain">Biaya
                                Lain Lain</a></li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/administrasi_pembayaran_v3">Transaksi
                                Pembayaran</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                                class="sf-with-ul">Grouper</a>
                            <ul style="display: none;">
                                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/eklaim/grouping_inacbg_v2">E-Klaim
                                        INACBG</a></li>
                            </ul>
                        </li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_batal_pulang"><i>Kunjungan
                                    Batal Lunas &amp; Pulang </i></a></li>
                        <li><a
                                href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/administrasi_piutang">Piutang</a>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_hapus"><i>Hapus
                                    Kunjungan</i></a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/kunjungan_ganti_penjamin"><i>Ganti
                            Penjamin</i></a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/ambulan">Ambulan</a></li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">REKAM MEDIS</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_rm/entry">Entry Rekam Medis</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/func/gabungkan_episode">Men Gabungkan
                        Episode</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/func/dua_episode">Men Gabungkan Jasa</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/func/migrasi_kunjungan">Migrasi Kunjungan</a>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_rm/retensi">Retensi</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">SurveyLen Covid-19</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_rm/covid19/">Data SurveyLen
                                Covid-19</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_rm/covid19/report">Rekap
                                SurveyLen Covid-19</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_rm/covid19/cetak_dokumen">Cetak
                                Dokumen</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">INFORMASI</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_informasi/kunjungan_v2">Informasi
                        Kunjungan</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_informasi/riwayat_v2">Riwayat
                        Pasien</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_informasi/tarif">Tarif Tindakan</a>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_informasi/rujukan_keluar">Rujukan
                        Keluar</a></li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">ANTRIAN</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_antrian/antrian_v2/index/Rawat_Jalan">Kunjungan
                        Poli / IGD</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_antrian/antrian_v2/index/Rawat_Inap">Kunjungan
                        Ruangan</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_antrian/antrian_v2/index/Penunjang">Kunjungan
                        Penunjang</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_antrian/berkas_rm">Berkas Rekam
                        Medis</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_antrian/checklist">Check List
                        Berkas</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_antrian/pendaftaran_online/index/2">Pendaftaran
                        Online</a></li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                class="sf-with-ul">LAPORAN</a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Rekam Medis</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/sensus_harian">Sensus
                                Harian</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/indexing_pasien">Indexing
                                Diagnosa</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report_rm/Diag">Laporan Diagnosa</a>
                        </li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/pasien_baru_lama/">Pasien Baru
                                Lama</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/rm_populasi">Populasi Pasien
                                Berkunjung</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/rm_rekap_indeks">Rekapitulasi
                                Indeks</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/rm_rl4">Laporan RL4</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/rm_kunjungan_nol">Kunjungan
                                NOL</a></li>
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/rm_aps/">Kunjungan APS</a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Keuangan</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report_keuangan/dpjp_rekap_bpjs">DPJP
                                Relap</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Keperawatan</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/keperawatan">Durasi
                                Perawatan</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Dokter</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/kepatuhan_visite_dpjp">Kepatuhan
                                Jam Visite</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/keuangan_daftar_pasien">Chek List
                        Asuransi</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/ambulan/">Ambulan</a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/eklaim/monitor_v2/">Monitor Klaim BPJS</a>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Laboratorium</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report_lab_pasien_kpu/report">Hasil
                                Rapid Kolektif</a></li>
                    </ul>
                </li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/billing_transaksi/tindakan/index/1085918"
                        class="sf-with-ul">Farmasi</a>
                    <ul style="display: none;">
                        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/report/farmasi">Durasi Pelayanan</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="http://simrs.rsudpacitan.go.id/index.php?/users/login/Logout" class="sf-with-ul"><label
                    style="color: red;"><b>LOGOUT</b></label></a>
            <ul style="display: none;">
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/users/ubah_identitas"><label
                            style="color: green;"><b>Ubah Akun</b></label></a></li>
                <li><a href="http://simrs.rsudpacitan.go.id/index.php?/users/login/Logout"><label
                            style="color: red;"><b>LOGOUT</b></label></a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="page_title">
    <h4>Tindakan Pasien</h4>
</div>