/* 
    Document   : ci_css
    Created on : Mar 1, 2012, 6:36:16 PM
    Author     : semut
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.toolbar,div.toolbar_1, div.toolbar_2{
    float: left;
    padding-right: 10px;
}

.form-row div{
    margin-right:10px;
    width:10em;
    float:left;
}

.form-title{
    background-color: #D4D4D4;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.form-title div{
    padding: 5px;
    padding-left: 20px;
    font-size:13px;
    font-weight: bold;
}

#form-no_rm{
    width: 50px;
}

#form-tgl-date,#form-tgl-time{
    width: 75px;
}

.content-left{
    float: left;
    width: 49%;
    margin-left: 20px;
}

.form-search-pasien{
    float: left;
}
#data_table_filter label input{
    width: 130px;
    margin-left: 5px;
}

.data-table-button-action{
    width: 65px;
}

.panel-hide{
    margin-left: 125px;
}

.error{
    color: #ef2d2d;
}


input[type=button],input[type=submit], input[type=reset] {
    font-size:11px;
    height: 12px;
    line-height: 12px;
    padding: 5px 3px 17px 3px;
    width:100px;  
}


input[type=submit] {
    line-height: normal !important;
    vertical-align: middle;
    display: block
}

input[type=text], input[type=email], input[type=number], input[type=url] 
textarea { 
    margin-bottom: 5px; 
    color: #000; 
    font-size: 13px;
    padding-left:5px; 
    border: 1px solid #e1e0e0; 	

    background: #fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;		
    font-family:Arial, Helvetica, sans-serif;
}

select {
    color: #000; 
    font-size: 11px;
    margin-right: 19px !important; 
    font-family:Arial, Helvetica, sans-serif;
    background: #fafafa;
    margin-bottom: 7px; 
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

textarea{  	
    border: 1px solid #e1e0e0; 	
    background: #fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
    color: #999; 		
    float: left;
    margin-bottom: 7px;
    overflow: hidden;
    /* height: 175px; */
    /* width: 626px;	 */
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    padding-left:5px; 
    padding-top:5px; 		
}

.dataTables_length select{
    width: 50px;
}

.table-ui-button{
    height: 30px;
}
