/* 
    Document   : style
    Created on : Jun 26, 2013, 11:32:28 AM
    Author     : semut
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div.toolbar,div.toolbar_1, div.toolbar_2, div.toolbar_3{
    float: left;
    padding-right: 10px;
}